//@import("_index.less")

h1 {
  font-size: 48px;
}

img {
  width: 500px;
  margin: 10px;
}

canvas {
  width: 500px;
  margin: 10px;
  &#histogram {
    height: 300px;
    border: 1px solid black;
  }
}
